body{
    background-color: rgb(237, 223, 205);
}
header{
    
    position: fixed;
    width: 100%;
    height: 12%;
    padding: 1rem 9%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.logo :hover{
    transform: scale(1.1);
}

nav a{
  margin-left: 4rem;
  font-size: larger;
  font-weight:900;
  
  font-family:'Times New Roman', Times, serif;
  color: rgb(96, 43, 43);
} 
nav a:hover,
.active{
    transition: 0.1s;
    border-bottom: 2px solid rgb(88, 40, 40);
}

#image-change{
    height: 70vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: backgroundChange 15s infinite; /* 15s cycle, loops forever */
    background-size: 100%;
    background-position: center;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    
}

@keyframes backgroundChange {
    0% { background-image: url('Images/Food-Spread-Blossom-Steakhouse.webp'); }
    33% { background-image: url('Images/home-hero-vince-lombardis-steakhouse-appleton-wi.jpg'); }
    66% { background-image: url('Images/Mastros1.jpg') ; }
    100% { background-image: url('Images/BG_Platters.jpg'); } 
}



footer{
    background-color:antiquewhite;
    width: 100%;
    
}
#footer-logo{
    margin: auto;
    width: 20%;
    display: flex;
    justify-content: center;
}


